body {
    overflow: hidden;
    margin: 0;
}

#letter {
    background-color: pink;
    position: absolute;
    left: 0;
    right: 0;
    top: -2%;
    bottom: 0;
    margin: auto;
    width: 700px;
    height: 620px;
    box-shadow: 0 0 0.5cm rgb(142, 96, 96);
    /*padding: 10px;*/
    z-index: 9999;
}

h1 {
    font-weight: normal;
    font-size: 40px;
    color: #c70012;
    text-align: center;
	margin: 0;
}

h2 {
    font-weight: normal;
    float: right;
    margin: 10px;
    color: #c70012;
}

p {
    font-size: 30px;
    color: #c70012;
    margin: 10px;
}

.love-you {
    text-align: center;
    font-weight: bold;
    display: none;
}

.link {
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 50%;
}

