body {
    overflow: hidden;
    margin: 0;
    font-family: 'Ma Shan Zheng', cursive;
}

#letter {
    background-color: pink;
    position: absolute;
    left: 0;
    right: 0;
    top: -2%;
    bottom: 0;
    margin: auto;
    width: 700px;
    height: 620px;
    box-shadow: 0 0 0.5cm rgb(142, 96, 96);
    /*padding: 10px;*/
    z-index: 9999;
}

h1 {
    font-weight: normal;
    font-size: 40px;
    color: #c70012;
    text-align: center;
	margin: 25px 0px;
}

h2 {
    font-weight: normal;
    float: right;
    margin: 10px;
    color: #c70012;
}

p {
    font-size: 30px;
    color: #c70012;
    margin: 6px 0px;
    letter-spacing: 5px;
}

.pageheader {
    height: 10px;
    width: 100%;
    background: repeating-linear-gradient(-45deg, #cb5a5e, #cb5a5e 8px, transparent 8px, transparent 18px);
}

.close {
    position: absolute;
    left: 95%;
    top: 1%;
    font-size: 30px;
    width: 30px;
    font-weight: bold;
    color: #c70012;
    text-align: center;
    cursor: pointer;
    font-family: cursive;
}

.link {
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 50%;
}

